-r requirements-torch.txt

# diffusion
diffusers~=0.26
accelerate~=0.27
safetensors~=0.4
transformers~=4.37
xformers~=0.0.24; platform_system != "Darwin"

# api
gradio~=3.50.2

# math
bezier~=2023.7

# media
opencv-python~=4.9
ffmpegio~=0.9